{% extends "base.html" %}
{% block title %}Реєстрація користувача {% endblock %}
{% block body %}
<h1>Реєстрація користувача</h1>
    <form method="POST" action="/register",
    oninput='password_confirm.setCustomValidity(password.value != password_confirm.value ? "Passwords do not match." : "")'>
        <div class="container register-form">
            <div class="form">
                <div class="form-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                Ім'я
                                <input type="text" autocomplete="off" name="first_name" class="form-control" placeholder="Ваше ім'я *" value="" required/>
                            </div>
                            <div class="form-group">
                                Пароль
                                <input type="password" autocomplete="off" name="password" class="form-control" placeholder="Пароль *" value=""/>
                            </div>
                            <div class="form-group">
                                Пошта
                                <input type="email" autocomplete="off" name="email" class="form-control" placeholder="Ваша пошта *" value="" required/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            Прізвище
                            <div class="form-group">
                                <input type="text" name="last_name" autocomplete="off" class="form-control" placeholder="Ваше прізвище *" value=""/>
                            </div>
                            <div class="form-group">
                                Підтвердіть пароль
                                <input type="password" name="password_confirm" class="form-control" placeholder="Підтвердіть пароль *" value=""/>
                            </div>
                            <div class="form-group">
                                Виберіть роль
                                <select class="form-control" id="exampleFormControlSelect1" name="role">
                                    <option value="1">Клієнт</option>
                                    <option value="2">Менеджер</option>
                                    <option value="3">Адміністратор</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="button is-block is-info is-large is-fullwidth" value="Зареєструватись"/>
                </div>
            </div>
        </div>
    </form>
<br>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <br>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}
{% endblock %}