{% extends "base.html" %}
{% block title %}Послуги банку{% endblock %}

{% block body %}
<h2>НашБанк пропонує такі послуги:</h2>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Послуга</th>
      <th score="col">Опис</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="col">Депозит</td>
      <td scope="col">Клієнти банку можуть відкрити депозит під 5% місячних. Зняти гроші з депозитного рахунку можна лише через місяц після відкриття</td>
    </tr>
    <tr>
      <td scope="col">Дебетна картка</td>
      <td scope="col">Клієнти банку можуть відкрити дебетову картку для безготівкових розрахунків. В будь-який момент можна поповнити картку готівкою або зняти з рахунку</td>
    </tr>
  </tbody>
</table>
{% endblock %}


